openapi: 3.1.0
info:
    title: SkillMatch API
    version: 1.0.0
    description: |-
        SkillMatch backend API (Laravel, JWT via `auth:api` guard).

        ## Authentication
        Most endpoints require a JWT Bearer token. Log in via
        `POST /api/auth/login`, then send `Authorization: Bearer <access_token>`
        (use **Authorize** in Swagger UI). Tokens expire after `expires_in`
        seconds (default 3600). Public endpoints (register, login, OTP,
        password reset) must NOT send a token.

        ## Localization
        Every endpoint accepts an optional `Accept-Language` header.
        Supported: `en`, `en-US`, `ar`, `ar-EG`. Regional variants are
        normalized (`en-US` -> `en`, `ar-EG` -> `ar`); anything else falls
        back to English. Localization affects human-readable `message`
        strings ONLY. JSON keys, IDs, enum machine values, status machine
        values, timestamps and numbers never change.

        ## Conventions
        * Timestamps are ISO-8601 strings, dates are `YYYY-MM-DD`.
        * `422` responses always use the Laravel shape
          `{"message": "...", "errors": {"field": ["..."]}}`.
        * Unless stated otherwise, paginated responses use the Laravel shape
          `{"data": [...], "links": {...}, "meta": {...}}` with `per_page`
          default `15` (max `100`).
    contact:
        name: SkillMatch Backend
servers:
    - url: https://skillmatch.iptvdemo.serv5group.com
      description: Production
    - url: http://localhost:8000
      description: Local development
tags:
    - name: Authentication
      description: Register, login, email OTP verification, password reset.
    - name: Candidate Profile
      description: Candidate profile and career preferences.
    - name: Candidate Educations
      description: Candidate education history.
    - name: Candidate Experiences
      description: Candidate work experience.
    - name: Candidate Projects
      description: Candidate projects.
    - name: Candidate Skills
      description: Skills attached to the candidate profile.
    - name: Skills
      description: Global skill taxonomy search.
    - name: Jobs
      description: Public job feed for authenticated users.
    - name: Saved Jobs
      description: Save / unsave jobs and list saved jobs.
    - name: Applications
      description: Job applications (candidate + status tracking).
    - name: CV Processing
      description: CV upload, processing status, history and extraction verification.
    - name: Notifications
      description: Candidate notifications.
    - name: Roadmaps
      description: AI career roadmaps, refresh and task completion.
    - name: Admin - Companies
      description: Company management and merging (admin only).
    - name: Admin - Jobs
      description: Job post management (admin only).
    - name: Admin - Job Sources
      description: Job source management (admin only).
    - name: Admin - Raw Jobs
      description: Ingested raw job payloads (admin only).
    - name: Admin - Ingestion Runs
      description: Job source ingestion runs (admin only).
    - name: Admin - Skills
      description: Skill taxonomy, aliases and merging (admin only).
    - name: Admin - AI Review
      description: AI review queue and decisions (admin only).
    - name: Admin - Audit Logs
      description: Cross-domain audit log query (admin only).
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
            description: JWT access token from POST /api/auth/login.
    parameters:
        AcceptLanguage:
            name: Accept-Language
            in: header
            required: false
            description: Response message locale. `en-US` -> `en`, `ar-EG` -> `ar`; anything else falls back to English. Affects human-readable messages only.
            schema:
                type: string
                enum: [en, en-US, ar, ar-EG]
                default: en
        Page:
            name: page
            in: query
            required: false
            schema:
                type: integer
                minimum: 1
                default: 1
        PerPage:
            name: per_page
            in: query
            required: false
            description: Items per page (max 100).
            schema:
                type: integer
                minimum: 1
                maximum: 100
                default: 15
    responses:
        Unauthorized:
            description: Missing or invalid JWT.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    example:
                        message: Unauthenticated.
        Forbidden:
            description: Authenticated but not allowed (inactive account or wrong role).
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    examples:
                        inactive:
                            value:
                                message: Your account is inactive.
                        role:
                            value:
                                message: Only candidates can access this profile.
        NotFound:
            description: Resource not found (message is localized).
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    example:
                        message: Candidate profile not found.
        ValidationError:
            description: Laravel validation failure.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ValidationError'
                    example:
                        message: The email field is required. (and 1 more error)
                        errors:
                            email:
                                - The email field is required.
        TooManyRequests:
            description: Rate limit exceeded (throttle middleware or OTP attempt limit).
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
                    example:
                        message: Too many invalid attempts. Request a new code.
        ServerError:
            description: Unexpected server error.
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ErrorMessage'
    schemas:
        ErrorMessage:
            type: object
            required: [message]
            properties:
                message:
                    type: string
                    example: Unauthenticated.
        ValidationError:
            type: object
            required: [message, errors]
            properties:
                message:
                    type: string
                errors:
                    type: object
                    additionalProperties:
                        type: array
                        items:
                            type: string
        PaginationLinks:
            type: object
            properties:
                first:
                    type: string
                    nullable: true
                last:
                    type: string
                    nullable: true
                prev:
                    type: string
                    nullable: true
                next:
                    type: string
                    nullable: true
        PaginationMeta:
            type: object
            properties:
                current_page:
                    type: integer
                from:
                    type: integer
                    nullable: true
                last_page:
                    type: integer
                per_page:
                    type: integer
                to:
                    type: integer
                    nullable: true
                total:
                    type: integer
        ApiSuccessEnvelope:
            type: object
            description: Envelope used by Applications, CV and Roadmap endpoints (App\Traits\ApiResponse).
            required: [status, message, data]
            properties:
                status:
                    type: string
                    enum: [success]
                message:
                    type: string
                    nullable: true
                data:
                    description: Endpoint-specific payload (object, array or null).
        ApiErrorEnvelope:
            type: object
            required: [status, message]
            properties:
                status:
                    type: string
                    enum: [error]
                message:
                    type: string
                errors:
                    type: object
                    additionalProperties:
                        type: array
                        items:
                            type: string
        ApplicationStatus:
            type: string
            enum: [applied, in_review, interview, rejected, offer, withdrawn]
            description: Machine value. Flutter must rely on this, not on translated messages.
        RoadmapStatus:
            type: string
            enum: [active, completed, archived]
        RoadmapTaskStatus:
            type: string
            enum: [pending, in_progress, completed]
        AiReviewStatus:
            type: string
            enum: [pending, approved, corrected, rejected]
        AiReviewAction:
            type: string
            enum: [approved, corrected, rejected]
        AiReviewEntityType:
            type: string
            enum: [cv_extraction]
        AiReviewOperation:
            type: string
            enum: [cv_profile_sync]
        AiReviewTriggerReason:
            type: string
            enum: [low_confidence]
        CvParsingStatus:
            type: string
            enum: [uploaded, processing, completed, failed]
        CvExtractionStatus:
            type: string
            enum: [pending, processing, SUCCESS, failed]
            description: NOTE `SUCCESS` is uppercase in the backend.
        JobType:
            type: string
            enum: [job, internship]
        ApplicationMethod:
            type: string
            enum: [internal, external]
        JobSourceType:
            type: string
            enum: [public, authorized, manual]
        JobCollectionMethod:
            type: string
            enum: [api, scraper, manual, file]
        RawJobExtractionStatus:
            type: string
            enum: [pending, extracted, failed]
        RawJobDeduplicationStatus:
            type: string
            enum: [pending, matched, possible, distinct, failed]
        IngestionRunStatus:
            type: string
            enum: [running, succeeded, partial, failed]
        IngestionRunTrigger:
            type: string
            enum: [scheduled, manual, retry]
        User:
            type: object
            description: Raw User model JSON (password and 2FA fields are hidden).
            properties:
                id:
                    type: integer
                name:
                    type: string
                email:
                    type: string
                    format: email
                phone:
                    type: string
                    nullable: true
                avatar:
                    type: string
                    nullable: true
                email_verified_at:
                    type: string
                    format: date-time
                    nullable: true
                role:
                    type: string
                    example: candidate
                is_active:
                    type: boolean
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
        UserResource:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                email:
                    type: string
                    format: email
                phone:
                    type: string
                    nullable: true
                avatar:
                    type: string
                    nullable: true
                email_verified_at:
                    type: string
                    format: date-time
                    nullable: true
                role:
                    type: string
                is_active:
                    type: boolean
        CareerPreference:
            type: object
            properties:
                id:
                    type: integer
                target_role:
                    type: string
                    nullable: true
                job_type:
                    type: string
                    nullable: true
                work_mode:
                    type: string
                    nullable: true
                preferred_country:
                    type: string
                    nullable: true
                preferred_city:
                    type: string
                    nullable: true
                experience_level:
                    type: string
                    nullable: true
                career_goal:
                    type: string
                    nullable: true
                open_to_relocation:
                    type: boolean
                    nullable: true
                target_roles:
                    type: array
                    nullable: true
                    items:
                        type: string
                preferred_industries:
                    type: array
                    nullable: true
                    items:
                        type: string
        Education:
            type: object
            properties:
                id:
                    type: integer
                education_level:
                    type: string
                    nullable: true
                institution:
                    type: string
                field_of_study:
                    type: string
                    nullable: true
                degree:
                    type: string
                    nullable: true
                is_current:
                    type: boolean
                grade:
                    type: string
                    nullable: true
                description:
                    type: string
                    nullable: true
                source:
                    type: string
                    example: manual
                start_date:
                    type: string
                    format: date
                    nullable: true
                end_date:
                    type: string
                    format: date
                    nullable: true
        Experience:
            type: object
            properties:
                id:
                    type: integer
                job_title:
                    type: string
                company_name:
                    type: string
                employment_type:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                city:
                    type: string
                    nullable: true
                is_current:
                    type: boolean
                description:
                    type: string
                    nullable: true
                source:
                    type: string
                    example: manual
                technologies:
                    type: array
                    nullable: true
                    items:
                        type: string
                start_date:
                    type: string
                    format: date
                    nullable: true
                end_date:
                    type: string
                    format: date
                    nullable: true
        Project:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                description:
                    type: string
                    nullable: true
                technologies:
                    type: array
                    nullable: true
                    items:
                        type: string
                project_url:
                    type: string
                    nullable: true
                github_url:
                    type: string
                    nullable: true
                source:
                    type: string
                    example: manual
                start_date:
                    type: string
                    format: date
                    nullable: true
                end_date:
                    type: string
                    format: date
                    nullable: true
        SkillCategory:
            type: object
            nullable: true
            properties:
                id:
                    type: integer
                name:
                    type: string
                normalized_name:
                    type: string
                is_active:
                    type: boolean
        Skill:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                normalized_name:
                    type: string
                category:
                    type: string
                    nullable: true
                skill_category_id:
                    type: integer
                    nullable: true
                skill_category:
                    $ref: '#/components/schemas/SkillCategory'
        CandidateSkill:
            type: object
            properties:
                id:
                    type: integer
                skill_id:
                    type: integer
                source:
                    type: string
                    example: manual
                proficiency_level:
                    type: string
                    nullable: true
                skill:
                    $ref: '#/components/schemas/Skill'
                    nullable: true
        CandidateProfile:
            type: object
            properties:
                id:
                    type: integer
                date_of_birth:
                    type: string
                    format: date
                    nullable: true
                gender:
                    type: string
                    nullable: true
                job_title:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                state:
                    type: string
                    nullable: true
                city:
                    type: string
                    nullable: true
                github_url:
                    type: string
                    nullable: true
                linkedin_url:
                    type: string
                    nullable: true
                military_status:
                    type: string
                    nullable: true
                professional_summary:
                    type: string
                    nullable: true
                profile_completed_at:
                    type: string
                    format: date-time
                    nullable: true
                careerPreference:
                    $ref: '#/components/schemas/CareerPreference'
                    nullable: true
                educations:
                    type: array
                    items:
                        $ref: '#/components/schemas/Education'
                experiences:
                    type: array
                    items:
                        $ref: '#/components/schemas/Experience'
                projects:
                    type: array
                    items:
                        $ref: '#/components/schemas/Project'
                candidateSkills:
                    type: array
                    items:
                        $ref: '#/components/schemas/CandidateSkill'
                cvDocuments:
                    type: array
                    items:
                        $ref: '#/components/schemas/CvDocument'
        Company:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                website_url:
                    type: string
                    nullable: true
                linkedin_url:
                    type: string
                    nullable: true
                logo_url:
                    type: string
                    nullable: true
                industry:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                state:
                    type: string
                    nullable: true
                city:
                    type: string
                    nullable: true
                description:
                    type: string
                    nullable: true
                is_verified:
                    type: boolean
                is_active:
                    type: boolean
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
                aliases:
                    type: array
                    items:
                        $ref: '#/components/schemas/CompanyAlias'
                job_posts_count:
                    type: integer
        CompanyAlias:
            type: object
            properties:
                id:
                    type: integer
                alias:
                    type: string
                normalized_alias:
                    type: string
        JobSkill:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                importance:
                    type: integer
                    nullable: true
                required_level:
                    type: string
                    nullable: true
        JobFeedItem:
            type: object
            properties:
                id:
                    type: integer
                title:
                    type: string
                job_type:
                    $ref: '#/components/schemas/JobType'
                work_mode:
                    type: string
                    nullable: true
                employment_type:
                    type: string
                    nullable: true
                experience_level:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                state:
                    type: string
                    nullable: true
                city:
                    type: string
                    nullable: true
                min_years_experience:
                    type: integer
                    nullable: true
                max_years_experience:
                    type: integer
                    nullable: true
                source:
                    type: string
                application_method:
                    $ref: '#/components/schemas/ApplicationMethod'
                published_at:
                    type: string
                    format: date-time
                    nullable: true
                expires_at:
                    type: string
                    format: date-time
                    nullable: true
                is_active:
                    type: boolean
                company:
                    type: object
                    properties:
                        id:
                            type: integer
                        name:
                            type: string
                        logo_url:
                            type: string
                            nullable: true
                        is_verified:
                            type: boolean
                        is_active:
                            type: boolean
                required_skills:
                    type: array
                    items:
                        $ref: '#/components/schemas/JobSkill'
                preferred_skills:
                    type: array
                    items:
                        $ref: '#/components/schemas/JobSkill'
                is_expired:
                    type: boolean
                is_saved:
                    type: boolean
        JobPost:
            type: object
            description: Admin job post view (includes fields hidden from the feed).
            properties:
                id:
                    type: integer
                title:
                    type: string
                job_type:
                    $ref: '#/components/schemas/JobType'
                description:
                    type: string
                employment_type:
                    type: string
                    nullable: true
                work_mode:
                    type: string
                    nullable: true
                experience_level:
                    type: string
                    nullable: true
                country:
                    type: string
                    nullable: true
                state:
                    type: string
                    nullable: true
                city:
                    type: string
                    nullable: true
                salary_min:
                    type: number
                    nullable: true
                salary_max:
                    type: number
                    nullable: true
                salary_currency:
                    type: string
                    nullable: true
                status:
                    type: string
                    description: Server-managed workflow status.
                is_active:
                    type: boolean
                application_method:
                    $ref: '#/components/schemas/ApplicationMethod'
                application_url:
                    type: string
                    nullable: true
                source:
                    type: string
                external_url:
                    type: string
                    nullable: true
                published_at:
                    type: string
                    format: date-time
                    nullable: true
                expires_at:
                    type: string
                    format: date-time
                    nullable: true
                min_years_experience:
                    type: integer
                    nullable: true
                max_years_experience:
                    type: integer
                    nullable: true
                responsibilities:
                    type: array
                    nullable: true
                    items:
                        type: string
                canonical_role:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
                company:
                    type: object
                    properties:
                        id:
                            type: integer
                        name:
                            type: string
                        logo_url:
                            type: string
                            nullable: true
                        industry:
                            type: string
                            nullable: true
                        country:
                            type: string
                            nullable: true
                        city:
                            type: string
                            nullable: true
                required_skills:
                    type: array
                    items:
                        $ref: '#/components/schemas/JobSkill'
                preferred_skills:
                    type: array
                    items:
                        $ref: '#/components/schemas/JobSkill'
                is_expired:
                    type: boolean
        JobSource:
            type: object
            properties:
                id:
                    type: integer
                name:
                    type: string
                slug:
                    type: string
                base_url:
                    type: string
                    nullable: true
                source_type:
                    $ref: '#/components/schemas/JobSourceType'
                collection_method:
                    $ref: '#/components/schemas/JobCollectionMethod'
                is_active:
                    type: boolean
                schedule_enabled:
                    type: boolean
                schedule_expression:
                    type: string
                    nullable: true
                notes:
                    type: string
                    nullable: true
                created_by:
                    type: integer
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
        JobSourceHealth:
            type: object
            properties:
                total_runs:
                    type: integer
                successful_runs:
                    type: integer
                failed_runs:
                    type: integer
                partial_runs:
                    type: integer
                empty_successful_runs:
                    type: integer
                error_runs:
                    type: integer
                last_run_at:
                    type: string
                    format: date-time
                    nullable: true
                last_successful_run_at:
                    type: string
                    format: date-time
                    nullable: true
                consecutive_failures:
                    type: integer
        RawJob:
            type: object
            description: Light list view. The detail endpoint adds discovery_metadata, raw_payload, raw_text, extracted_data, normalized_data, fingerprint and deduplication_evidence.
            properties:
                id:
                    type: integer
                job_source_id:
                    type: integer
                ingestion_run_id:
                    type: integer
                    nullable: true
                external_id:
                    type: string
                    nullable: true
                source_url:
                    type: string
                    nullable: true
                detail_url:
                    type: string
                    nullable: true
                discovered_title:
                    type: string
                    nullable: true
                discovered_company_name:
                    type: string
                    nullable: true
                discovered_at:
                    type: string
                    format: date-time
                    nullable: true
                extraction_status:
                    $ref: '#/components/schemas/RawJobExtractionStatus'
                extraction_error_code:
                    type: string
                    nullable: true
                extraction_error_message:
                    type: string
                    nullable: true
                extracted_at:
                    type: string
                    format: date-time
                    nullable: true
                normalization_status:
                    type: string
                    nullable: true
                normalization_error_code:
                    type: string
                    nullable: true
                normalization_error_message:
                    type: string
                    nullable: true
                normalized_at:
                    type: string
                    format: date-time
                    nullable: true
                deduplication_status:
                    $ref: '#/components/schemas/RawJobDeduplicationStatus'
                fingerprint_version:
                    type: integer
                    nullable: true
                canonical_job_post_id:
                    type: integer
                    nullable: true
                deduplication_method:
                    type: string
                    nullable: true
                deduplicated_at:
                    type: string
                    format: date-time
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
        IngestionRun:
            type: object
            properties:
                id:
                    type: integer
                job_source_id:
                    type: integer
                trigger_type:
                    $ref: '#/components/schemas/IngestionRunTrigger'
                status:
                    $ref: '#/components/schemas/IngestionRunStatus'
                started_at:
                    type: string
                    format: date-time
                    nullable: true
                finished_at:
                    type: string
                    format: date-time
                    nullable: true
                discovered_count:
                    type: integer
                fetched_count:
                    type: integer
                created_count:
                    type: integer
                updated_count:
                    type: integer
                skipped_count:
                    type: integer
                failed_count:
                    type: integer
                error_code:
                    type: string
                    nullable: true
                error_message:
                    type: string
                    nullable: true
                error_context:
                    type: object
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
        SkillAlias:
            type: object
            properties:
                id:
                    type: integer
                alias:
                    type: string
                normalized_alias:
                    type: string
        AiReviewItem:
            type: object
            properties:
                id:
                    type: integer
                entity_type:
                    $ref: '#/components/schemas/AiReviewEntityType'
                entity_id:
                    type: integer
                operation:
                    $ref: '#/components/schemas/AiReviewOperation'
                trigger_reason:
                    $ref: '#/components/schemas/AiReviewTriggerReason'
                confidence:
                    type: number
                    nullable: true
                status:
                    $ref: '#/components/schemas/AiReviewStatus'
                proposed_value:
                    type: object
                canonical_value:
                    type: object
                    nullable: true
                source:
                    type: string
                corrected_value:
                    type: object
                    nullable: true
                decision_reason:
                    type: string
                    nullable: true
                reviewer_notes:
                    type: string
                    nullable: true
                reviewer:
                    type: object
                    nullable: true
                    properties:
                        id:
                            type: integer
                        name:
                            type: string
                reviewed_at:
                    type: string
                    format: date-time
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
                audits:
                    type: array
                    items:
                        $ref: '#/components/schemas/AiReviewAudit'
        AiReviewAudit:
            type: object
            properties:
                id:
                    type: integer
                action:
                    $ref: '#/components/schemas/AiReviewAction'
                reviewer_id:
                    type: integer
                original_proposal:
                    type: object
                canonical_before:
                    type: object
                applied_value:
                    type: object
                    nullable: true
                decision_reason:
                    type: string
                    nullable: true
                reviewer_notes:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
        AuditAction:
            type: string
            enum:
                [
                    company_created,
                    company_updated,
                    company_merged,
                    job_created,
                    job_updated,
                    skill_created,
                    skill_updated,
                    skill_alias_created,
                    skill_alias_updated,
                    skill_alias_deleted,
                    skill_merged,
                    job_source_created,
                    job_source_updated,
                    application_created,
                    application_status_changed,
                    ingestion_run_started,
                    ingestion_run_finished,
                    raw_job_extraction_failed,
                    job_normalized,
                    job_normalization_failed,
                    job_deduplicated,
                    ai_review_approved,
                    ai_review_corrected,
                    ai_review_rejected,
                ]
            description: Machine value. Never translated.
        AuditEntityType:
            type: string
            enum:
                [
                    application,
                    company,
                    job,
                    skill,
                    job_source,
                    ingestion_run,
                    raw_job,
                    ai_review_item,
                ]
            description: Machine value. Never translated.
        AuditSource:
            type: string
            enum: [admin, candidate, system, ingestion, ai_review]
            description: Who or what caused the change. Never translated.
        AuditLog:
            type: object
            properties:
                id:
                    type: integer
                actor_id:
                    type: integer
                    nullable: true
                    description: Admin or candidate user ID. Null for system and pipeline events.
                actor:
                    type: object
                    nullable: true
                    properties:
                        id:
                            type: integer
                        name:
                            type: string
                action:
                    $ref: '#/components/schemas/AuditAction'
                entity_type:
                    $ref: '#/components/schemas/AuditEntityType'
                entity_id:
                    type: integer
                    nullable: true
                source:
                    $ref: '#/components/schemas/AuditSource'
                before:
                    type: object
                    nullable: true
                    description: Allowlisted before-state snapshot.
                after:
                    type: object
                    nullable: true
                    description: Allowlisted after-state snapshot.
                metadata:
                    type: object
                    nullable: true
                    description: Bounded operational metadata such as counters and references.
                created_at:
                    type: string
                    format: date-time
        Notification:
            type: object
            properties:
                id:
                    type: integer
                type:
                    type: string
                title:
                    type: string
                message:
                    type: string
                data:
                    type: object
                    nullable: true
                read_at:
                    type: string
                    format: date-time
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                is_read:
                    type: boolean
        CvDocument:
            type: object
            properties:
                id:
                    type: integer
                original_filename:
                    type: string
                storage_disk:
                    type: string
                storage_path:
                    type: string
                mime_type:
                    type: string
                file_size:
                    type: integer
                file_hash:
                    type: string
                    nullable: true
                version:
                    type: integer
                is_current:
                    type: boolean
                status:
                    $ref: '#/components/schemas/CvParsingStatus'
                processed_at:
                    type: string
                    format: date-time
                    nullable: true
                failure_reason:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
        RoadmapTask:
            type: object
            properties:
                id:
                    type: integer
                order:
                    type: integer
                title:
                    type: string
                description:
                    type: string
                    nullable: true
                status:
                    $ref: '#/components/schemas/RoadmapTaskStatus'
                completed_at:
                    type: string
                    format: date-time
                    nullable: true
                evidence:
                    type: string
                    nullable: true
                notes:
                    type: string
                    nullable: true
                metadata:
                    type: object
                    nullable: true
        RoadmapMilestone:
            type: object
            properties:
                id:
                    type: integer
                order:
                    type: integer
                title:
                    type: string
                description:
                    type: string
                    nullable: true
                progress:
                    type: number
                completed_at:
                    type: string
                    format: date-time
                    nullable: true
                tasks:
                    type: array
                    items:
                        $ref: '#/components/schemas/RoadmapTask'
        RoadmapPhase:
            type: object
            properties:
                id:
                    type: integer
                order:
                    type: integer
                title:
                    type: string
                description:
                    type: string
                    nullable: true
                rationale:
                    type: string
                    nullable: true
                progress:
                    type: number
                milestones:
                    type: array
                    items:
                        $ref: '#/components/schemas/RoadmapMilestone'
        Roadmap:
            type: object
            properties:
                id:
                    type: integer
                previous_roadmap_id:
                    type: integer
                    nullable: true
                title:
                    type: string
                description:
                    type: string
                    nullable: true
                rationale:
                    type: string
                    nullable: true
                status:
                    $ref: '#/components/schemas/RoadmapStatus'
                progress:
                    type: number
                target:
                    type: object
                    properties:
                        type:
                            type: string
                            enum: [role, job]
                        id:
                            type: integer
                        title:
                            type: string
                        canonical_role:
                            type: string
                            nullable: true
                        role:
                            type: string
                        company:
                            type: object
                            nullable: true
                            properties:
                                id:
                                    type: integer
                                name:
                                    type: string
                generation_version:
                    type: integer
                generated_at:
                    type: string
                    format: date-time
                    nullable: true
                refreshed_at:
                    type: string
                    format: date-time
                    nullable: true
                phases:
                    type: array
                    items:
                        $ref: '#/components/schemas/RoadmapPhase'
                created_at:
                    type: string
                    format: date-time
                updated_at:
                    type: string
                    format: date-time
paths:
    /api/auth/register:
        post:
            operationId: authRegister
            tags: [Authentication]
            summary: Register a new candidate account
            description: |-
                Public. Creates the user and sends a 6-digit email verification OTP.
                Requires `password_confirmation` matching `password`. Throttle: 10 requests/minute per IP.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                [name, email, password, password_confirmation]
                            properties:
                                name:
                                    type: string
                                    maxLength: 255
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                                password:
                                    type: string
                                    minLength: 8
                                    description: Production additionally enforces min 12 chars with mixed case, letters, numbers, symbols.
                                password_confirmation:
                                    type: string
                        example:
                            name: Ahmed Wael
                            email: candidate@example.com
                            password: Secret123!
                            password_confirmation: Secret123!
            responses:
                '201':
                    description: Registered; verification OTP sent.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [message, email, user]
                                properties:
                                    message:
                                        type: string
                                    email:
                                        type: string
                                        format: email
                                    user:
                                        $ref: '#/components/schemas/User'
                            example:
                                message: Registration successful. A verification code has been sent to your email.
                                email: candidate@example.com
                                user:
                                    id: 1
                                    name: Ahmed Wael
                                    email: candidate@example.com
                                    role: candidate
                                    is_active: true
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '503':
                    description: Verification email could not be sent.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Unable to send the email verification code. Please try registering again shortly.
    /api/auth/login:
        post:
            operationId: authLogin
            tags: [Authentication]
            summary: Log in and get a JWT
            description: |-
                Public. Validates credentials with the `api` (JWT) guard. Email must
                already be verified. Throttle: 5 requests/minute per IP (+ per email/device).
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, password]
                            properties:
                                email:
                                    type: string
                                    format: email
                                password:
                                    type: string
                        example:
                            email: candidate@example.com
                            password: Secret123!
            responses:
                '200':
                    description: Authenticated.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    [access_token, token_type, expires_in, user]
                                properties:
                                    access_token:
                                        type: string
                                        description: 'JWT. Send as Authorization: Bearer <token>.'
                                    token_type:
                                        type: string
                                        example: bearer
                                    expires_in:
                                        type: integer
                                        description: Seconds until expiry (default 3600).
                                    user:
                                        $ref: '#/components/schemas/User'
                            example:
                                access_token: PASTE_JWT_FROM_LOGIN_HERE
                                token_type: bearer
                                expires_in: 3600
                                user:
                                    id: 1
                                    name: Ahmed Wael
                                    email: candidate@example.com
                                    role: candidate
                                    is_active: true
                '401':
                    description: Invalid credentials.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Invalid credentials.
                '403':
                    description: Email address is not verified.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Email address is not verified.
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
    /api/auth/me:
        get:
            operationId: authMe
            tags: [Authentication]
            summary: Get the current authenticated user
            description: JWT only. No role check.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            responses:
                '200':
                    description: Current user.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [user]
                                properties:
                                    user:
                                        $ref: '#/components/schemas/User'
                '401':
                    $ref: '#/components/responses/Unauthorized'
    /api/auth/verify-email-otp:
        post:
            operationId: authVerifyEmailOtp
            tags: [Authentication]
            summary: Verify email with 6-digit OTP
            description: |-
                Public. OTP expires, allows max 5 wrong attempts (then 429 - request a
                new code). Throttle: 20/min per IP, 10/min per email.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, otp]
                            properties:
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                                otp:
                                    type: string
                                    pattern: '^[0-9]{6}$'
                                    example: '482913'
                        example:
                            email: candidate@example.com
                            otp: '482913'
            responses:
                '200':
                    description: Email verified.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [message, user]
                                properties:
                                    message:
                                        type: string
                                    user:
                                        $ref: '#/components/schemas/User'
                            example:
                                message: Email verified successfully.
                                user:
                                    id: 1
                                    email: candidate@example.com
                                    role: candidate
                '422':
                    description: Invalid/expired code or validation failure.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                            example:
                                message: The code is invalid or expired. Request a new code.
                                errors:
                                    otp:
                                        - The code is invalid or expired. Request a new code.
                '429':
                    $ref: '#/components/responses/TooManyRequests'
    /api/auth/resend-email-otp:
        post:
            operationId: authResendEmailOtp
            tags: [Authentication]
            summary: Resend the email verification OTP
            description: Public. Requires an existing unverified account. Throttle is 10/min per IP and 3/hour per email.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email]
                            properties:
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                        example:
                            email: candidate@example.com
            responses:
                '200':
                    description: New code sent.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: A new verification code has been sent to your email.
                '422':
                    description: No unverified account for this email (or validation failure).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: An unverified account is required.
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '503':
                    description: Email could not be sent.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Unable to send the email code. Please try again shortly.
    /api/auth/forgot-password:
        post:
            operationId: authForgotPassword
            tags: [Authentication]
            summary: Request a password reset OTP
            description: Public. Anti-spam allows max 1 request/minute per email (429 plus Retry-After 60). Throttle is 10/min per IP and 3/hour per email.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email]
                            properties:
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                        example:
                            email: candidate@example.com
            responses:
                '200':
                    description: Reset code sent.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: A password reset code has been sent to your email.
                '422':
                    description: Unknown email (anti-enumeration) or validation failure.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                            example:
                                message: Unable to send a reset code. Check the email address and try again.
                                errors:
                                    email:
                                        - Unable to send a reset code. Check the email address and try again.
                '429':
                    $ref: '#/components/responses/TooManyRequests'
                '503':
                    description: Email could not be sent.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
    /api/auth/forgot-password/verify-otp:
        post:
            operationId: authVerifyPasswordResetOtp
            tags: [Authentication]
            summary: Verify password reset OTP, get reset token
            description: Public. Returns a 64-char reset_token valid 10 minutes (600s). Max 5 wrong attempts. Response includes Cache-Control no-store.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, otp]
                            properties:
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                                otp:
                                    type: string
                                    pattern: '^[0-9]{6}$'
                        example:
                            email: candidate@example.com
                            otp: '482913'
            responses:
                '200':
                    description: Code verified.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [message, reset_token, expires_in]
                                properties:
                                    message:
                                        type: string
                                    reset_token:
                                        type: string
                                        minLength: 64
                                        maxLength: 64
                                    expires_in:
                                        type: integer
                                        example: 600
                            example:
                                message: Code verified. You may now reset your password.
                                reset_token: a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f9
                                expires_in: 600
                '422':
                    $ref: '#/components/responses/ValidationError'
                '429':
                    $ref: '#/components/responses/TooManyRequests'
    /api/auth/reset-password:
        post:
            operationId: authResetPassword
            tags: [Authentication]
            summary: Reset password with reset token
            description: Public. `reset_token` from the verify-otp step. Requires matching `password_confirmation`.
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                [
                                    email,
                                    reset_token,
                                    password,
                                    password_confirmation,
                                ]
                            properties:
                                email:
                                    type: string
                                    format: email
                                    maxLength: 255
                                reset_token:
                                    type: string
                                    minLength: 64
                                    maxLength: 64
                                password:
                                    type: string
                                    description: Dev/staging only `required|string|confirmed`; production enforces min 12 with mixed case, letters, numbers, symbols.
                                password_confirmation:
                                    type: string
                        example:
                            email: candidate@example.com
                            reset_token: a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f9
                            password: NewSecret123!
                            password_confirmation: NewSecret123!
            responses:
                '200':
                    description: Password reset; log in again.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Password reset successfully. Please log in.
                '422':
                    description: Invalid/expired reset session or validation failure.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ValidationError'
                            example:
                                message: The password reset session is invalid or expired. Request a new code.
                                errors:
                                    reset_token:
                                        - The password reset session is invalid or expired. Request a new code.
                '429':
                    $ref: '#/components/responses/TooManyRequests'
    /api/candidate/profile:
        get:
            operationId: candidateProfileShow
            tags: [Candidate Profile]
            summary: Get candidate profile with all relations
            description: JWT + active candidate. Returns profile (or null inside a 200 envelope when missing) with career preference, educations, experiences, projects, certificates, languages, skills and CV documents.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            responses:
                '200':
                    description: Profile envelope.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        type: object
                                        required:
                                            [profile_exists, user, profile]
                                        properties:
                                            profile_exists:
                                                type: boolean
                                            user:
                                                $ref: '#/components/schemas/UserResource'
                                            profile:
                                                $ref: '#/components/schemas/CandidateProfile'
                                                nullable: true
                            example:
                                data:
                                    profile_exists: true
                                    user:
                                        id: 1
                                        name: Ahmed Wael
                                        email: candidate@example.com
                                        role: candidate
                                        is_active: true
                                    profile:
                                        id: 3
                                        job_title: Backend Developer
                                        city: Cairo
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
        patch:
            operationId: candidateProfileUpdate
            tags: [Candidate Profile]
            summary: Create or update candidate profile
            description: JWT + active candidate. All fields `sometimes|nullable` (partial update); missing profile is created. Same response shape as GET.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                date_of_birth:
                                    type: string
                                    format: date
                                    description: Must be before today.
                                gender:
                                    type: string
                                    maxLength: 255
                                job_title:
                                    type: string
                                    maxLength: 255
                                country:
                                    type: string
                                    maxLength: 255
                                state:
                                    type: string
                                    maxLength: 255
                                city:
                                    type: string
                                    maxLength: 255
                                military_status:
                                    type: string
                                    maxLength: 255
                                github_url:
                                    type: string
                                    format: uri
                                    maxLength: 2048
                                linkedin_url:
                                    type: string
                                    format: uri
                                    maxLength: 2048
                                professional_summary:
                                    type: string
                                    maxLength: 5000
                        example:
                            job_title: Backend Developer
                            country: Egypt
                            city: Cairo
                            linkedin_url: https://www.linkedin.com/in/example
                            professional_summary: Laravel developer with 3 years of experience.
            responses:
                '200':
                    description: Updated profile (same shape as GET).
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        type: object
                                        properties:
                                            profile_exists:
                                                type: boolean
                                            user:
                                                $ref: '#/components/schemas/UserResource'
                                            profile:
                                                $ref: '#/components/schemas/CandidateProfile'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '422':
                    $ref: '#/components/responses/ValidationError'
    /api/candidate/career-preferences:
        get:
            operationId: careerPreferenceShow
            tags: [Candidate Profile]
            summary: Get career preferences
            description: JWT plus active candidate. 404 when the candidate profile itself does not exist; 200 with data null when the profile exists but no preferences were saved.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            responses:
                '200':
                    description: Preferences or null.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CareerPreference'
                                        nullable: true
                            example:
                                data:
                                    id: 1
                                    target_role: Backend Developer
                                    job_type: full_time
                                    work_mode: remote
                                    preferred_country: Egypt
                                    open_to_relocation: false
                                    target_roles:
                                        - Backend Developer
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
        patch:
            operationId: careerPreferenceUpdate
            tags: [Candidate Profile]
            summary: Create or update career preferences
            description: JWT + active candidate. All fields `sometimes`; arrays must be lists of strings.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                target_roles:
                                    type: array
                                    nullable: true
                                    items:
                                        type: string
                                        maxLength: 255
                                preferred_industries:
                                    type: array
                                    nullable: true
                                    items:
                                        type: string
                                        maxLength: 255
                                target_role:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                job_type:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                work_mode:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                preferred_country:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                preferred_city:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                experience_level:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                career_goal:
                                    type: string
                                    maxLength: 5000
                                    nullable: true
                                open_to_relocation:
                                    type: boolean
                        example:
                            target_role: Backend Developer
                            job_type: full_time
                            work_mode: remote
                            preferred_country: Egypt
                            open_to_relocation: true
                            target_roles:
                                - Backend Developer
            responses:
                '200':
                    description: Saved preferences.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CareerPreference'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    $ref: '#/components/responses/NotFound'
                '422':
                    $ref: '#/components/responses/ValidationError'
    /api/candidate/educations:
        get:
            operationId: educationList
            tags: [Candidate Educations]
            summary: List candidate educations
            description: JWT + active candidate. Ordered by start_date desc, id desc. Not paginated.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            responses:
                '200':
                    description: Education list.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Education'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Candidate profile not found.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
        post:
            operationId: educationCreate
            tags: [Candidate Educations]
            summary: Add an education
            description: JWT + active candidate. `institution` required on create. `end_date` must be >= `start_date`; a current education must not have `end_date`.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [institution]
                            properties:
                                education_level:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                institution:
                                    type: string
                                    maxLength: 255
                                field_of_study:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                degree:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                start_date:
                                    type: string
                                    format: date
                                    nullable: true
                                end_date:
                                    type: string
                                    format: date
                                    nullable: true
                                is_current:
                                    type: boolean
                                grade:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                description:
                                    type: string
                                    maxLength: 5000
                                    nullable: true
                                source:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                        example:
                            institution: Cairo University
                            field_of_study: Computer Science
                            degree: BSc
                            start_date: '2020-09-01'
                            end_date: '2024-06-01'
            responses:
                '201':
                    description: Created.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Education'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Candidate profile not found.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '422':
                    $ref: '#/components/responses/ValidationError'
    /api/candidate/educations/{education}:
        get:
            operationId: educationShow
            tags: [Candidate Educations]
            summary: Get one education
            description: JWT + active candidate. IDs are scoped to the caller; other users' IDs return 404.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
                - name: education
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                '200':
                    description: Education.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Education'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Education not found (or not owned).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
                                message: Education not found.
        patch:
            operationId: educationUpdate
            tags: [Candidate Educations]
            summary: Update an education
            description: JWT + active candidate. Partial update (`sometimes|required` for institution). Same date rules as create.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
                - name: education
                  in: path
                  required: true
                  schema:
                      type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                education_level:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                institution:
                                    type: string
                                    maxLength: 255
                                field_of_study:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                degree:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                start_date:
                                    type: string
                                    format: date
                                    nullable: true
                                end_date:
                                    type: string
                                    format: date
                                    nullable: true
                                is_current:
                                    type: boolean
                                grade:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                                description:
                                    type: string
                                    maxLength: 5000
                                    nullable: true
                                source:
                                    type: string
                                    maxLength: 100
                                    nullable: true
                        example:
                            degree: BSc Computer Science
                            is_current: false
            responses:
                '200':
                    description: Updated education.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Education'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Education not found (or not owned).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '422':
                    $ref: '#/components/responses/ValidationError'
        delete:
            operationId: educationDelete
            tags: [Candidate Educations]
            summary: Delete an education
            description: JWT + active candidate. Returns 204 with an empty body.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
                - name: education
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                '204':
                    description: Deleted (empty body).
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Education not found (or not owned).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
    /api/candidate/experiences:
        get:
            operationId: experienceList
            tags: [Candidate Experiences]
            summary: List candidate experiences
            description: JWT + active candidate. Ordered by start_date desc, id desc. Not paginated.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            responses:
                '200':
                    description: Experience list.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Experience'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Candidate profile not found.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
        post:
            operationId: experienceCreate
            tags: [Candidate Experiences]
            summary: Add work experience
            description: JWT + active candidate. `job_title` and `company_name` required on create. `end_date` >= `start_date`; current jobs must not have `end_date`.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [job_title, company_name]
                            properties:
                                job_title:
                                    type: string
                                    maxLength: 255
                                company_name:
                                    type: string
                                    maxLength: 255
                                employment_type:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                country:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                city:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                start_date:
                                    type: string
                                    format: date
                                    nullable: true
                                end_date:
                                    type: string
                                    format: date
                                    nullable: true
                                is_current:
                                    type: boolean
                                description:
                                    type: string
                                    maxLength: 5000
                                    nullable: true
                                source:
                                    type: string
                                    maxLength: 255
                                    nullable: true
                                technologies:
                                    type: array
                                    nullable: true
                                    items:
                                        type: string
                                        maxLength: 255
                        example:
                            job_title: Backend Developer
                            company_name: Acme
                            employment_type: full_time
                            start_date: '2022-01-01'
                            is_current: true
                            technologies:
                                - Laravel
                                - MySQL
            responses:
                '201':
                    description: Created.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Experience'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Candidate profile not found.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                '422':
                    $ref: '#/components/responses/ValidationError'
    /api/candidate/experiences/{experience}:
        get:
            operationId: experienceShow
            tags: [Candidate Experiences]
            summary: Get one experience
            description: JWT + active candidate. IDs scoped to the caller.
            security:
                - bearerAuth: []
            parameters:
                - $ref: '#/components/parameters/AcceptLanguage'
                - name: experience
                  in: path
                  required: true
                  schema:
                      type: integer
            responses:
                '200':
                    description: Experience.
                    content:
                        application/json:
                            schema:
                                type: object
                                required: [data]
                                properties:
                                    data:
                                        $ref: '#/components/schemas/Experience'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '403':
                    $ref: '#/components/responses/Forbidden'
                '404':
                    description: Experience not found (or not owned).
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorMessage'
                            example:
[...]
